<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WLUG</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body class="jumbotron">
        <center><h1>WLUG TechnoTweet 2019</h1></center>
        <br><br><br>
		<center>
            <h1>THANK YOU !!!</h1> <br>
            <h3><%= name %></h3> <br> 
            <h3>For participating in TechnoTweet 2019 !!!</h3> <br><br>
            
            <h3> Please provide your valuable feedback below...</h3>
            <a href="http://wcewlug.org/wcewlug/>"button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">WEBINO Feedback</button></a>>

        </center>
	</body>
</html>
